.right-item-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  max-width: 15%;
}

.left-item-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  max-width: 15%;
}
