.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.boat-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.buttons-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.button {
  width: 200px;
  font-size: 40px;
  border: none;
  border-radius: 10px;
  padding: 30px 0px;
  box-shadow: 10px 5px 5px gray;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      transform: translate(5px, 5px);
      box-shadow: none;
    }
  }
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .button {
    width: 150px;
    font-size: 30px;
    padding: 20px 0px;
  }

  .button-container {
    gap: 50px;
  }
}

@media (max-width: 480px) {
  .button {
    width: 100px;
    font-size: 20px;
    padding: 15px 0;
  }

  .buttons-container {
    flex-direction: column; /* ボタンを縦に並べる */
    height: auto; /* コンテナの高さを自動調整 */
    gap: 20px;
  }
}

.go-button {
  font-weight: bold;
  background-color: #2d7bff;
  color: white;
}

.reset-button {
  background-color: aliceblue;
}